.reveal .slides {
    text-align: left;
    font-size: 60%;
    line-height: 200%;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
    line-height: 200%;
}
.reveal pre code {
  font-size: 70%;
  padding-bottom: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
code {
    font-weight: bold;
}
