name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  run_linux:
    runs-on: ubuntu-20.04
    name: Build and Test (Linux)

    steps:
    - name: Clone repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build
      run: |
        mkdir -p build && cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        make -j$(nproc --all)

    - name: Run tests
      run: ./bin/test_algo
      working-directory: build

    - name: Run performance tests
      run: ./bin/perf_algo
      working-directory: build

  run_win:
    runs-on: windows-latest
    name: Build and Test (Windows)

    steps:
    - name: Clone repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build
      run: |
        mkdir -p build && cd build
        cmake -G "Visual Studio 16 2019" -A x64 ..
        cmake --build . --config Release -j 2
      shell: cmd

    - name: Run tests
      run: .\bin\Release\test_algo.exe
      shell: cmd
      working-directory: build

    - name: Run performance tests
      run: .\bin\Release\perf_algo.exe
      shell: cmd
      working-directory: build

  run_mac:
    runs-on: macos-latest
    name: Build and Test (macOS)

    steps:
    - name: Clone repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build
      run: |
        mkdir -p build && cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-std=c++11"
        make -j$(nproc --all)

    - name: Run tests
      run: ./bin/test_algo
      working-directory: build

    - name: Run performance tests
      run: ./bin/perf_algo
      working-directory: build
